<form method="POST" action="/courses/handle-trash-courses" name="container-form" class="container">
  <h2 class="mb-5">Danh sách sinh viên đã xóa</h2>
  <a class="trash-btn"  href="/me/storage/lops"> 
    <i class="ti-back-left"></i>
    <p class="back">Quay lại</p>
  </a>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Mã SV</th>
        <th scope="col">Họ Tên</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày Sinh</th>
        <th scope="col">Mã Lớp</th>
        <th scope="col">Học Bổng</th>
        <th scope="col">Tỉnh</th>
        <th scope="col">Thời gian xóa</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {{#each lops}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this._id}}</td>
        <td>{{this.hoTen}}</td>
        <td>{{this.nu}}</td>
        <td>{{this.ngaySinh}}</td>
        <td>{{this.maLop}}</td>
        <td>{{this.hocBong}}</td>
        <td>{{this.Tinh}}</td>
        <td>
          <a href="" class="btn btn-success btn-restore" data-id="{{this._id}}">Khôi phục</a>
          <a href="/lops/{{this._id}}" class="btn btn-danger" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-lops-modal">Xóa vĩnh viễn</a>
        </td>
      </tr>
        {{else}}
        <tr>
          <td colspan="10" class="text-center">
            Thùng rác trống.
            <a href="/me/storage/lops" style="color: blue; text-decoration: underline">Trở về danh sách sinh viên.</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{!-- Confirm delete --}}

{{!-- Modal --}}
<div class="modal fade" id="delete-lops-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">WARNING!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa VĨNH VIỄN sinh viên này? Hành động này không thể khôi phục!!
      </div>
      <div class="modal-footer">
        <button id="delete-lop" type="button" class="btn btn-danger">Xóa vĩnh viễn</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
      </div>
    </div>
  </div>
</div>


<form name="delete-lop-form" method="POST"></form>
<form name="restore-lop-form" method="POST"></form>

<script>
  document.addEventListener("DOMContentLoaded", function () {

    var courseId;
    var deleteForm = document.forms['delete-lop-form'];
    var restoreForm = document.forms['restore-lop-form'];
    var containerForm = $('form[name="container-form"]');
    var deleteCourseModal = document.getElementById('delete-lops-modal');
    var btnDeleteLop = document.getElementById('delete-lop');
    var restoreBtn = $('.btn-restore');

    if (deleteCourseModal) {
      deleteCourseModal.addEventListener('show.bs.modal',function (event) {
      var button = event.relatedTarget;
      courseId = button.getAttribute('data-id');
    })};

    btnDeleteLop.onclick = function () {
      deleteForm.action = `/lops/${courseId}/force?_method=DELETE`;
      deleteForm.submit();
    }

    //Restore btn clicked
    restoreBtn.click(function (e) {
      e.preventDefault();
      var courseId = $(this).data('id');
      restoreForm.action = `/lops/${courseId}/restore?_method=PATCH`;
      restoreForm.submit();
    });
});
</script> 
